# sqlite3 python API  
  
Motor de bases de datos mínimo basado en archivos.

Recordar siempre importar el modulo sqlite3 antes de comenzar.  
`import sqlite3`  
  
Crear una base de datos.  
Se crea automáticamente cuando se intenta conectar a una base de datos que no existe.  
`conn = sqlite3.connect("mi_base.db")`  
  
De la misma forma se abre una conexión a una base de datos existente.

In [ ]:
import sqlite3

conn = sqlite3.connect("mi_base.db") # crea el archivo, si no existe
print(type(conn)) # es del tipo sqlite3.Connection
cur = conn.cursor() # obtengo un cursor para operar en la db
print(type(cur)) # es del tipo sqlite3.Cursor

<class 'sqlite3.Connection'>
<class 'sqlite3.Cursor'>

Como desconectar (cerrar) una base de datos sqlite3.  
`conn.close()`

In [ ]:
conn.close()

Crear una tabla.  
sentencia SQL: `CREATE TABLE mi_tabla (campo1 tipo1, campo2 tipo2, ...)`  
  
Usando el cursor para **ejecutar** la sentencia.

In [ ]:
crear = """create table usuarios (
                        id_usu integer primary key autoincrement,
                        nombre text,
                        apellido text,
                        email text,
                        edad integer)"""
cur.execute(crear)  # aca se crea la tabla
conn.commit()

Ingresar informacion a una tabla.  
sentencia SQL: `INSERT INTO mi_tabla (campo1, campo2) VALUES (valor1, valor2)`

In [ ]:
insertar = "INSERT INTO usuarios (nombre, apellido, email, edad) VALUES (?, ?, ?, ?)"
cur.execute(insertar, ("Benjmin", "Lopz", "benjalopez@gmail.com", 21))
cur.execute(insertar, ("Mario", "Gomez", "mario@gmail.com", 60))
cur.execute(insertar, ("Gonzalo", "Martinez", "gonza@gmail.com", 30))
cur.execute(insertar, ("Marcela", "Perez", "marcela@gmail.com", 18))
cur.execute(insertar, ("Laura", "Castro", "lau@gmail.com", 21))
conn.commit()

Obtener informacion desde mi bd.  
sentencia SQL: `SELECT campo1, campo2 FROM tabla WHERE <condicion>`

In [ ]:
seleccionar = "SELECT * FROM usuarios"
cur.execute(seleccionar)
resultado = cur.fetchall()
for registro in resultado:
    print(registro)

(6, 'Benjmin', 'Lopz', 'benjalopez@gmail.com', 21)
(7, 'Mario', 'Gomez', 'mario@gmail.com', 60)
(8, 'Gonzalo', 'Martinez', 'gonza@gmail.com', 30)
(9, 'Marcela', 'Perez', 'marcela@gmail.com', 18)
(10, 'Laura', 'Castro', 'lau@gmail.com', 21)

Modificar un registro  
sentencia SQL: `UPDATE tabla SET campo1 = valor, ... WHERE <condicion>`

In [ ]:
modificar = "UPDATE usuarios SET nombre = ?, apellido = ?"
cur.execute(modificar, ("Benjamin", "Lopez"))
conn.commit()

Eliminar un registro  
sentencia SQL: `DELETE FROM tabla WHERE <condicion>`  
  
recuerden que **es escencial que coloquen alguna condicion en el WHERE**

In [ ]:
eliminar = "DELETE FROM usuarios"
cur.execute(eliminar)
conn.commit()

Insertar con executemany()  
`cursor.executemany(sentencia_sql, secuencia_parametros)`  
  
`secuencia_parametros` puede ser cualquier secuencia, tupla, lista, etc

In [ ]:
insertar = "INSERT INTO usuarios (nombre, apellido, email, edad) VALUES (?, ?, ?, ?)"
lista = [("Benjmin", "Lopz", "benjalopez@gmail.com", 21),
         ("Mario", "Gomez", "mario@gmail.com", 60),
         ("Gonzalo", "Martinez", "gonza@gmail.com", 30),
         ("Marcela", "Perez", "marcela@gmail.com", 18),
         ("Laura", "Castro", "lau@gmail.com", 21)]

cur.executemany(insertar, lista)
conn.commit()